.card {
    width: 540px;
  }
  
  .card__title {
    margin: 0 0 32px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
  
  .card__unordered-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .card__list-item {
    display: flex;
    align-items: baseline;

    list-style-type: none;
    margin-bottom: 16px;

    font-family: "Noto serif","times new roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  
  .card__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .card__list-divider {
    display: block;
    min-width: 50px;
    /* height: 1px; */
    margin: 0 10px;
    flex-grow: 1;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid #838383;
  }