.footer {
    background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 80px;
  
    }
    
    .footer__content {
      display: flex;
      justify-content: space-between;
    }
    
    .footer__logo {
      width: 116px;
      height: 21px;
    }
    

    .footer__social-heading {
      margin-top: 0;
      margin-bottom: 20px;

      font-family: "Inter", Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
    }
    
    .footer__list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .footer__list-item:last-of-type {
      padding-bottom: 0;
    }
    
    .footer__social-link {
      color: #C1C1C1;
      text-decoration: none;
      transition: color 0.3s linear;

      font-family: "Inter", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;

    }
    
    .footer__social-link:hover {
      color: #c1c1c1;
    }
    
    .footer__social-icon {
      width: 16px;
      height: 16px;
      margin-right: 10px;
    }
    
    .footer__copyright {
      padding-top: 108px;
      margin: 0;


      font-family: "Inter", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }