.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 0;
  position: relative;
  box-sizing: border-box;

  background: url("../images/background_header.svg") no-repeat center center/cover #ffffff;
  z-index: 2;
}

.header__title {
    max-width: 729px;
    margin-top: 202px;
    margin-bottom: 0px;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;

  }

  .header__span-accent {
    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;

    display: block;
  }

  .header__description {
    max-width: 683px;
    margin-top: 28px;
    margin-bottom: 0px;

    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .header__image {
    position: absolute;
    right: 5px;
    top: 124px;
    width: 646px;
    height: 568px;
    z-index: -1;
  }
  
  .header__footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    margin: 0px;
    padding-bottom: 40px;
    
    /*
The header__footer has to use the following flex

1. justify-content: space-between => to put the hours block on left and address block on right
For example

Hour                                                            Address

2. align-items: flex-end;  => This put the address on the bottom. 
Hour
Monday
Saturday                                                      Address

Without it it would be like

Hour                                                          Address
Monday ...
Satursday ...

*/

    color: #838383;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

  }


/*
I been at this for days.  I asked and check on discord - no reply.  
I just don't know how to get the footer text to be in the correct spot.  

According to stage 2 section 1.1 Header # 11 of the brief.

#11 to 14. block: header, element paragraph.  Which translates to the following code in index.html
<div class="header__footer">
    <div class="header__hours">
        <p class="header__paragraph">Hours</p>
        <p class="header__paragraph">Monday - Friday (1000 - 1900)</p>
        <p class="header__paragraph">Saturday - Sunday (1100 - 1800)</p>
    </div>
  <p class="header__address">200 Success Avenue, The Town of Practicum</p>  
</div>

*/



.header__hours {
    /* 
    Feedback say to remove line below using padding.      
    padding-top: 120px; 

    Code below is based on the feedback.  
    It does not work.   The footer does not appear at the bottom. 
  
  .header__hours {
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }

  .header__paragraph {
    margin-top: auto;
  }
    */

    /* The only time I got it to work was to using position: absolute and use a difference class name for the address */
    position: absolute;
    bottom: 40px;
    left: 80px;

    display: flex;
    flex-direction: column;

/* 
    the header__hours uses flex-direction of column do the block below would be aligned as follows
    Hours
    Monday ...
    Saturday ...
*/
  }

  .header__paragraph {

    margin: 0;
    z-index: 1;

    color: #6f6f6f;
  }

  /* I used a difference class rather than using Header__paragraph.   
  (Which was flagged in an earlier review)
  
  As explained before, I just don't know how to use the same class (header__paragraph)
  and get it to look like the brief without using position: absolute.  
  */

  .header__address  {
    position: absolute;
    right: 80px;
    bottom: 40px;
  }

  /* 
Please give me detail on how to do this.  As mentioned before.. I been at this for days. 

The code from the footer has the copyright block outside of the footer__content.  
Thus I can use flex in the footer class to align footer__copyright below footer_content.
Then I can us flex and justify-content in the footer__content 
to put the logo on the left side and social media links on the right.

Note: It uses a difference class name, and allowed me to place the blocks on the same level. 

This requirement for 1.1 #11-14 uses the same class name, places them all in the same block.
Which I can do with flexbox, but I just don't know how to get it positioned on the bottom. 

Please be detail in the feedback and let me know what I am doing wrong.

  */