.header {
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  padding: 30px 80px 0;
  position: relative;
  box-sizing: border-box;

  background-color: #ffffff;
  background: url("../images/background_header.svg") no-repeat center center/cover;
  z-index: -1;
}

.header__title {
    max-width: 729px;
    margin-top: 202px;
    margin-bottom: 0px;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;

  }

  .header__span-accent {
    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;

    display: block;
  }

  .header__description {
    max-width: 683px;
    margin-top: 28px;
    margin-bottom: 0px;

    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .header__image {
    position: absolute;
    right: 5px;
    top: 124px;
    width: 646px;
    height: 568px;
    z-index: -1;
  }
  
  .header__footers {
    padding-top: 200px;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;
    
    color: #838383;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

  }

  .header__paragraph {
    margin: 0;
    z-index: 1;

    color: #6f6f6f;
  }
