.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .nav__links {
    position: absolute;
    top: 30px;
    right: 80px;

    column-gap: 20px;

    display: flex;
    justify-content: flex-start;
    list-style: none;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }
  

  .nav__link {
    text-decoration: none;
    transition: color 0.5s ease-in-out;
    color: #000000;
  }

  .nav__link:hover {
    color: #2f80ed;
  }
  