.nav {
    display: flex;
    justify-content: flex-end;
  }
  
  .nav__links {
    display: flex;
    column-gap: 20px;
    margin-top: 30px;
    margin-right: 80px;
    padding: 0px;

    list-style: none;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

  }
  

  .nav__link {
    text-decoration: none;
    color: #000000;
    transition: color 0.5s ease-in-out;


  }

  .nav__link:hover {
    color: #2f80ed;
  }
  