
.page {

    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-family: "Inter", Arial, sans-serif;
    /* font-family: "Noto Serif", 'Times New Roman', serif; */
    font-size: 16px;
    line-height: 20px;



  }                                  
  
  .header {
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px 0;
    position: relative;
    box-sizing: border-box;

    background-color: #ffffff;
    background-image: url("../images/background_header.svg");
    background-size: cover;
    background-repeat: no-repeat;

  }

  .logo {
    top: 30px;
    left: 30px;
    width: 125px;
    height: 142px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .nav__links {
    top: 30px;
    right: 80px;
    margin: 20px 0 0;
    display: flex;
    column-gap: 20px;
    list-style: none;
    padding: 0px 0px 0px 0px;
  }
  
  .nav__link:hover {
    color: #1f69c9;
  }
  
  .nav__link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .header__title {
    left: 80px;
    max-width: 729px;
    margin-top: 202px;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;

  }

  .header__span-accent {
    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;

    display: block;

  }

  .header__description {
    left: 80px;
    max-width: 683px;
    margin-top: 28px;

    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .header__image {
    position: absolute;
    right: 5px;
    top: 124px;
    max-width: 646px;
    max-height: 568px;
  }
  
  .header__footers {


    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;




    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;


  }

  .header__hours {
    position: absolute;
    left: 80px;
    bottom: 40px;
  }

  .header__address {
    position: absolute;
    bottom: 40px;
    right: 80px;
    /* position: relative; */
    /* right: 80px; */
  }


  .menu {
    width: 100%;
    background-color: #ffffff;
    background-image: url(../images/background_menu.svg);
    display: flex;
    position: relative;
    background-position: center;
    flex-direction: column;
    align-items: center;
  }
  
  .menu__title {
    padding-top: 100px;
    max-width: 780px;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    margin: 0;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .menu__subtitle {
    max-width: 780px;
    padding-top: 24px;

    font-family: "Noto Serif", "times new roman", serif;
    font-style: normal;
    font-weight: normal;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
  
  .menu__cards {
    padding-top: 100px;

    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 100px;
    justify-content: center;
    padding-bottom: 100px;
  }

  .card {
    width: 540px;
  }
  
  .card__title {
    margin: 0 0 32px;
    font-family: "Inter", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
  }
  
  .card__unordered-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .card__list-item {
    display: flex;
    align-items: baseline;

    list-style-type: none;
    margin-bottom: 16px;

    font-family: "Noto serif","times new roman", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
  }
  
  .card__list-item:last-of-type {
    margin-bottom: 0;
  }
  
  .card__list-divider {
    display: block;
    min-width: 50px;
    /* height: 1px; */
    margin: 0 10px;
    flex-grow: 1;
    margin-left: 8px;
    margin-right: 8px;
    border-bottom: 1px solid #838383;
  }
  
.recipes {
  background-color: #0a2759;
  color: #ffffff;

  margin-top: 100px;
  margin-left: 80px;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

}

.recipes__subtitle {
  margin-top: 24px;
  margin-left: 80px;
  max-width: 420px;

  font-family: "Noto Serif", 'Times New Roman', serif; 
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
  .recipes__videos { 
    display: flex; 
    gap: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 80px; 
    flex-wrap: nowrap; 
    justify-content: center; 
  } 
  
  .recipes__iframe { 
    display: flex;
    width: 480px; 
    height: 273px; 
    border: 0;
    column-gap: 40px;
  } 
  
  .recipes__video-caption { 
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff 
  } 
    

  .reservation {
    background-color: #d9e7ff;
    background-image: url(../images/background_reservation.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    padding: 100px 0 120px;
    align-items: center;
  }
  
  .reservation__title {
    margin: 0 0 80px;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .reservation__form {
    width: 100%;
    max-width: 385px;
  }
  
  .form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
    max-width: 385px;
    font-family: Noto-serif, "times new roman", serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    }
    

.form__fieldset {
  display: flex;
  flex-direction: column;
    margin: 0;
    padding: 0;
    border: none;
  }
  
  .form__label {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  position: relative;
  margin-bottom: 8px;
  margin-top: 0%;
  padding: 0;
  }
  
  .form__input {
    box-sizing: border-box;
    box-shadow: none; 
    border-radius: 4px;
    height: 60px;
    margin-bottom: 32px;
    padding-left: 10px;
    font-family: "Inter", Arial, sans-serif;
    font-style: normal; 
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    border: solid 1px #838383; 
    max-width: 385px; 
    width: 100%; 
    text-align: left; 
  }
  
  .form__input::placeholder {
    font-size: 16px;
    color: #838383 ;
  }
  
  .form__button {
  cursor: pointer;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  height: 60px;
  border: none;
  border-radius: 4px;
  background-color:#2f80ed ;
  color: #ffffff;
  width: 100%;
  transition: opacity 3s ease 0s;
  }
  
  .form__button:hover {
    opacity: 70%;
  }
  
  .form__checkbox {
    border-radius: 2px;
    background-color: #2f80ed;
    width: 20px;
    height: 20px;
    margin-right: 12px;
  }
  
  .form__label_checkbox_checked {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }


  @keyframes pulsate {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 0.6;
    }
    100% {
      transform: scale(1.2);
      opacity: 0;
    }
}

.about {
  background-color: #0a2850;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  z-index: 1;
}

.about__title {
  padding-top: 100px;
  padding-left: 80px;
  padding-right: 0px;
  max-width: 251px;
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  position: relative;
  z-index: 3;
}

.about__content {
  max-width: 660px;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-top: 119px;
  padding-right: 80px;
  padding-bottom: 173px;
}

.about__paragraph {
margin: 0px 0px 20px 0px;
font-family: "Noto Serif", "Times New Roman", serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.about__paragraph:last-of-type {
    margin: 0;
  }

.about__circle {
background-color: #2f80ed;
width: 426px;
height: 426px;
border-radius: 50%;
position: absolute;
top: -152px;
left: -129px;
}

.about__circle_animation_blurred {
    background-color: #2f80ed;
    width: 426px;
    height: 426px;
    border-radius: 50%;
    position: absolute;
    top: -152px;
    left: -129px;
    animation: pulsate 1.3s ease-in-out infinite;
  }

  .footer {
    background: linear-gradient(180deg, #0a2850 0%, #071931 100%);
    color: #fff;
    padding-top: 60px;
    padding-bottom: 60px;
    padding-right: 100px;
    padding-left: 80px;
  
    }
    
    .footer__content {
      display: flex;
      justify-content: space-between;
    }
    
    .footer__logo {
      width: 116px;
      height: 21px;
    }
    
    .footer__social-column {
      margin-left: auto;
      text-align: right;
      margin-left: auto;
    }
    .footer__social-heading {
      font-family: "Inter", Arial, sans-serif;
      font-style: normal;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      margin-top: 0;
      margin-bottom: 20px;
      display:flex;
      justify-content: end;
    }
    
    .footer__list {
      display: flex;
      flex-direction: column;
      row-gap: 16px;
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
    
    .footer__list-item {
      padding-bottom: 16px;
      display: flex;
      justify-content: end;
    }
    
    .footer__list-item:last-of-type {
      padding-bottom: 0;
      display: flex;
      justify-content: end;
    }
    
    .footer__social-link {
      color: white;
      font-family: "Inter", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
      text-decoration: none;
      transition: color 0.3s linear;
      display: flex;
      justify-content: end;
    }
    
    .footer__social-link:hover {
      color: #c1c1c1;
    }
    
    .footer__social-icon {
      width: 16px;
      height: 16px;
      margin-right: 10px;
      margin-left: auto;
    }
    
    .footer__copyright {
      padding-top: 108px;
      margin: 0;
      font-family: "Inter", Arial, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 20px;
    }
    