.recipes {
    color: #ffffff;
    background: url("../images/background_recipes.svg") no-repeat center center/cover #0a2759;
    padding-left: 80px;
    padding-bottom: 215px;
  }
  
  .recipes__title {
    max-width: 580px;
    padding-top: 100px;
    margin: 0;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  
  }
  
  .recipes__subtitle {
    padding-top: 24px;
    max-width: 438px;
    margin: 0;

    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }
    .recipes__videos { 
      display: flex; 
      gap: 40px; 
      margin-top: 80px; 
      flex-wrap: nowrap; 
      justify-content: center; 
    } 
    
    .recipes__iframe { 
      display: flex;
      width: 480px; 
      height: 273px; 
      border: 0;
      column-gap: 40px;
    } 
    
    .recipes__video-caption { 
      display: flex;
      justify-content: space-between;
      margin: 24px 0 0 0;
      font-family: "Inter", Arial, sans-serif;
      font-weight: 500;
      font-size: 20px;
      line-height: 30px;
      color: #ffffff 
    } 
      