.reservation {
   display: flex;
    flex-direction: column;
    padding: 100px 0 120px;
    align-items: center;

    background-color: #d9e7ff;
    background: url("../images/background_reservation.svg") no-repeat center center/cover;
 
  }
  
  .reservation__title {
    margin: 0 0 80px;
    
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .reservation__form {
    margin: 0px;
  }
  
