.reservation {
    display: flex;
    flex-direction: column;
    padding: 100px 0 120px;
    align-items: center;

    background: url("../images/background_reservation.svg") no-repeat center center/cover #d9e7ff;
  }
  
  .reservation__title {
    padding-bottom: 80px;
    margin: 0;
    
    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
  }
  
  .reservation__form {
    margin: 0;
  }
  
