
.page {

    min-width: 1100px;
    max-width: 1600px;
    margin: auto;
    font-family: "Inter", Arial, sans-serif;
    /* font-family: "Noto Serif", 'Times New Roman', serif; */
    font-size: 16px;
    line-height: 20px;



  }                                  
  
  .header {
    height: 100vh;
    min-height: 720px;
    max-height: 800px;
    padding: 30px 80px 0;
    position: relative;
    box-sizing: border-box;

    background-color: #ffffff;
    background-image: url("../images/background_header.svg");
    background-size: cover;
    background-repeat: no-repeat;

  }

  .logo {
    top: 30px;
    left: 30px;
    width: 125px;
    height: 142px;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .nav__links {
    top: 30px;
    right: 80px;
    margin: 20px 0 0;
    display: flex;
    column-gap: 20px;
    list-style: none;
    padding: 0px 0px 0px 0px;
  }
  
  .nav__link:hover {
    color: #1f69c9;
  }
  
  .nav__link {
    color: #000000;
    text-decoration: none;
    font-weight: bold;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
  }

  .header__title {
    left: 80px;
    max-width: 729px;
    margin-top: 202px;

    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    line-height: 72px;

  }

  .header__span-accent {
    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: italic;
    font-weight: normal;
    font-size: 60px;
    line-height: 72px;
    color: #2F80ED;

    display: block;

  }

  .header__description {
    left: 80px;
    max-width: 683px;
    margin-top: 28px;

    font-family: "Noto Serif", 'Times New Roman', serif; 
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
  }

  .header__image {
    position: absolute;
    right: 5px;
    top: 124px;
    max-width: 646px;
    max-height: 568px;
  }
  
  .header__footers {


    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    box-sizing: border-box;




    font-family: "Inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #838383;


  }

  .header__hours {
    position: absolute;
    left: 80px;
    bottom: 40px;
  }

  .header__address {
    position: absolute;
    bottom: 40px;
    right: 80px;
    /* position: relative; */
    /* right: 80px; */
  }

.recipes {
  background-color: #0a2759;
  color: #ffffff;

  margin-top: 100px;
  margin-left: 80px;
  padding-bottom: 215px;
}

.recipes__title {
  max-width: 580px;
  padding-top: 100px;
  margin-left: 80px;

  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;

}

.recipes__subtitle {
  margin-top: 24px;
  margin-left: 80px;
  max-width: 420px;

  font-family: "Noto Serif", 'Times New Roman', serif; 
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}
  .recipes__videos { 
    display: flex; 
    gap: 40px; 
    margin-left: auto; 
    margin-right: auto; 
    margin-top: 80px; 
    flex-wrap: nowrap; 
    justify-content: center; 
  } 
  
  .recipes__iframe { 
    display: flex;
    width: 480px; 
    height: 273px; 
    border: 0;
    column-gap: 40px;
  } 
  
  .recipes__video-caption { 
    display: flex;
    justify-content: space-between;
    margin: 24px 0 0 0;
    font-family: "Inter", Arial, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #ffffff 
  } 
    